 body{
     min-height:100%;
     background-image: url("../images/background.png");
}
 header{
     font-family: 'Graduate', cursive;
     padding:10px;
     font-size:60px;
     color:black;
     margin-bottom:30px;
}
 #mainContainer{
     margin-bottom: 100px;
}
 .btn{
     margin-top: 5%;
     margin-bottom:5%;
     background-color: black;
     color:white;
     box-shadow: 5px 5px #888888;
}
 .answer,#timeMsg{
     color:green;
     margin-top:5px;
     padding:10px;
     text-align: center;
     font-family: 'Graduate', cursive;
     font-size:25px;
     line-height: 40px;
}
 #box{
     background-color: white;
     border-radius:20px;
     border: 1px solid black;
     padding: 10px;
     box-shadow: 10px 10px #888888;
}
 #answerSet{
     cursor:pointer;
     color: orange;
}
 #timeMsg{
     color:grey;
}
 .giphyImg{
     width:220px;
     height:200px;
}
 