
 body{
     background-image: url("../images/background.jpg");
     background-repeat: no-repeat;
     background-position: center top;
     background-attachment: fixed: 
     min-height:100%;
}
 header{
     font-family: 'Graduate', cursive;
     padding:10px;
     font-size:60px;
     color:black;
     margin-bottom:30px;
}
 #mainContainer{
     margin-bottom: 100px;
}
 .btn{
     margin-top: 5%;
     margin-bottom:5%;
     width:10%;
     background-color: black;
     color:white;
}
 .answer,#timeMsg,#score{
     color:red;
     margin-top:5px;
     padding:10px;
     text-align: center;
     font-family: 'Graduate', cursive;
     font-size:25px;
     line-height: 40px;     
}

#answerSet{
     cursor:pointer;
}

#timeMsg{
     color:lightyellow;
}
 #score{
     display:none;
}
.giphyImg{
     width:220px;
     height:200px;
} 
 